<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" data-provider-thread-count="1"
	preserve-order="true">
	<test name="OpenWeb">
		<classes>
			<class name="db.tests.allWeb.OpenAllWeb"></class>
			<class name="db.tests.allWeb.OpenContainerPage"></class>
			<class name="db.tests.PRICE.ContainerOperationLoadingExecuition"></class>
		</classes>
	</test>
</suite> 	